.excel__toolbar {
  position: relative;
  top: 40px;
  left: 0;
  right: 0;
  height: 34px;
  border-top: 1px solid;
  border-bottom: 1px solid;
  border-color: #ccc;
  padding: 3px 10px;
}
.excel__toolbar .excel__buttons {
  display: flex;
  align-items: center;
}
.excel__toolbar .excel__buttons .excel__button {
  width: 24px;
  height: 24px;
  background: none;
  border: 0;
  text-align: center;
  border-radius: 2px;
}
.excel__toolbar .excel__buttons .excel__button span {
  font-size: 24px;
}
.excel__toolbar .excel__buttons .excel__button:hover {
  background-color: #ebeff5;
}
.excel__toolbar .excel__buttons .excel__button:focus {
  color: green;
  background-color: #eee;
}