Single-page application. На JS, HTML, CSS, webpack

Настройка окружения:
webpack (imports, exports)
    Babel
    SCSS
    Eslint
    2 mods
        - dev
            Dev server (перезагружать автоматически окно браузера, если произошли изменения в коде)
            SourceMaps (исходные карты)
            Eslint
            Not minified JS & CSS
        - prod
            Minified code
Git

Функционал эксель таблица:
таблица
  в ячейки можно добавлять текст
  если текст начинается с =, преобразовывается в формулу и считается
  если текст числовой, преобразовывать в число
  можно обращаться к элементам из других ячеек
работа с текстом
  bold
  курсив
  зачеркивание
  выравнивание

Главная страница приложения:
Header
  Инпут с изменением при наведении и вводе
  Кнопка с иконкой "удалить таблицу" и кнопка с иконкой "выход из таблицы"
Создание новой таблицы
Список таблиц в системе: название, дата открытия
