$header-height: 34px;
$toolbar-height: 40px;
$formula-height: 24px;

$dashboard-header-height: 64px;

$button-background-color: #ebeff5;
$border-hover-color: #ccc;
$border-default: 1px solid $border-hover-color;
$highlightning-color: green;

$info-column-width: 40px;
$cell-width: 120px;
$row-height: 24px;
$info-row-and-column-background: #f8f9fa;