@import "variables";
@import "mixins";

.excel__table {
  position: absolute;
  right: 0;
  left: 0;
  top: $header-height + $toolbar-height + $formula-height;
  overflow: auto;
  padding-bottom: 2px;

  .table__row{
    display: flex;
    flex-direction: row;
    min-height: 20px;
    height: $row-height;

    .row__info{
      display: flex;
      justify-content: center;
      align-items: center;
      min-width: $info-column-width;
      height: 100%;
      border: $border-default;
      border-top: none;
      background-color: $info-row-and-column-background;
    }

    .row__data{
      height: 100%;
      display: flex;
      flex-direction: row;

      .data__column-name{
        min-width: $info-column-width;
        width: $cell-width;
        display: flex;
        justify-content: center;
        align-items: center;
        border: $border-default;
        border-left: none;
        border-top: none;
        background-color: $info-row-and-column-background;
      }

      .data__cell{
        min-width: $info-column-width;
        width: $cell-width;
        padding: 5px;
        border: $border-default;
        border-top: none;
        border-left: none;
        height: 100%;
        white-space: nowrap;
        outline: none;

        &.selected{
          outline: 2px solid green;
          border-radius: 2px;
          border: none;
        }
      }
    }
  }
}
