@import "variables";
@import "mixins";

.excel__table {
  position: absolute;
  right: 0;
  left: 0;
  top: $header-height + $toolbar-height + $formula-height;
  overflow: auto;
  padding-bottom: 2px;

  .column-resize, .row-resize {
    position: absolute;
    bottom: 0;
    right: 0;
    background-color: $highlightning-color;
    opacity: 0;
    z-index: 1000;

    &:hover {
      opacity: 100%!important;
    }
  }

  .table__row{
    display: flex;
    flex-direction: row;
    min-height: 20px;
    height: $row-height;
    position: relative;

    .row__info{
      display: flex;
      justify-content: center;
      align-items: center;
      min-width: $info-column-width;
      height: 100%;
      border: $border-default;
      border-top: none;
      background-color: $info-row-and-column-background;
      // TODO: номер строки - фиксирование при перемотке
      left: 0;
      position: relative;

      user-select: none;

      .row-resize {
        left: 0;
        height: 4px;

        &:hover {
          cursor: row-resize;
        }
      }
    }

    .row__data{
      height: 100%;
      display: flex;
      flex-direction: row;

      .data__column-name{
        min-width: $info-column-width;
        width: $cell-width;
        display: flex;
        justify-content: center;
        align-items: center;
        border: $border-default;
        border-left: none;
        border-top: none;
        background-color: $info-row-and-column-background;
        position: relative;
        // TODO: название столбца - фиксирование при перемотке

        user-select: none;

        .column-resize {
          top: 0;
          width: 4px;

          &:hover, &:active {
            cursor: col-resize;
          }
        }
      }

      .data__cell{
        min-width: $info-column-width;
        width: $cell-width;
        padding: 5px;
        border: $border-default;
        border-top: none;
        border-left: none;
        height: 100%;
        white-space: nowrap;
        outline: none;
        overflow: scroll;

        &.selected{
          outline: 2px solid green;
          border-radius: 2px;
          border: none;
        }
      }
    }
  }

}
